#contact-container{
    /* border: 1px solid red; */
    background: #282C35 ;
    min-height: 30vh;
    padding: clamp(1rem,2rem,4rem);
}
#contactName{
    /* border: 1px solid blue; */
    display: flex;
    text-align: start;
    font-size: clamp(1rem,1.5rem,4rem);
}
#contactName h3:nth-child(1){
    color: #fff;
}
#contactName h3:nth-child(2){
    color: #21de21;
}
#contact-list{
    /* border: 1px solid red; */
    text-align: start;
    color: #fff;
    padding: clamp(0.5rem,1rem,2rem);
    display: flex;
    justify-content: space-between;
}
.Lists{
    /* border: 1px solid white; */
}
.Lists h5{
    font-weight: 300;
    color: #21de21;
}
.Lists h6{
    font-weight: 200;
}
#mediaHandles{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.handles{
    /* border: 1px solid red; */
    margin: 2%;
}
@media (max-width:480px) {
    #mediaHandles{
        flex-direction: row;
    }
    #contact-list{
        flex-direction: column;
        justify-content: space-between;
    }
}