#dashBoardHeading{
    /* border: 1px solid red; */
    text-align: start;
    padding: clamp(1rem,1.2rem,3rem) ;
    background: #282C35;
    box-shadow: rgba(0, 0, 0, 0.64) 0px 3px 8px;
    display: flex;
}
#dashBoardHeading h3:nth-child(1){
    color: #fff;
}
#dashBoardHeading h3:nth-child(2){
    color: #21de21;
}
#main-container{
    border: 1px solid red;
    padding: clamp(2rem,4rem,6rem) clamp(3rem,15rem,20rem);    
}
@media (max-width:480px) {
    #main-container{
        border: 1px solid red;
        padding: clamp(2rem,4rem,6rem) clamp(1rem,2rem,4rem);   
    }
}