body{
    height: 30rem;
    width: 20rem;
    margin: 0%;
    display: flex;
    align-items: center;
    background: #000000;
    border: 4px solid #00AB66;
    justify-content: center;
}
#signout-container{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
}
label{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
}
button{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #00AB66;
    color: white;
    border-style: none;
    height: 1.5rem;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: 0.3s;
}
button:hover{
    transform: scale(1.12);
}