#sideBar{
    width: 5%;
    transition: all 0.65s;
    -webkit-transition: all 0.65s;
    background: #00203fff;
    box-shadow: rgba(0, 0, 0, 0.74) 0px 3px 8px;
    position: relative;
    z-index: 9;
}
#logOutBtn{
    width: 100%;
    position: absolute;
    bottom: 10%;
    padding: 2%;
    background: transparent;
    border-style: none;
    color: aliceblue;
}
#closeSideBar{
    position: absolute;
    right: 0%;
    top: 0%;
    background: transparent;
    border-style: none;
    color: aliceblue;
}
.menu-item-list{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 5rem 0rem;
    padding: 0% 0.2%;
}
.menu-item{
    /* border: 1px solid blue; */
}
.normalBtn{
    width: 100%;
    padding: 5%;
    background: transparent;
    border-style: none;
    /* border-bottom: 1px solid white; */
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    transition: 0.3s;
}
.normalBtn:hover{
    /* transform: scale(1.5); */
    color: #ACE1AF;
    background: rgb(19, 65, 112);
}
.normalBtn:active{
    border-style: none;
    outline: none;
}
.activeBtn{
    color: #ACE1AF;
    background: #134170;
}
@media (max-width:750px) {
    #sideBar{
        width: 20%;
        left: -100%;
        position: absolute;
        height: 90%;
        /* display: none; */
        transition: all 0.65s;
        -webkit-transition: all 0.65s;
    }
    #sideBar.sideMenuAppear{
        left: 0;
    }
}
@media (min-width:750px) {
    #closeSideBar{
        display: none;
    }
}