#Mainpanel-container{
    width: 95%;
    /* border: 1px solid red; */
    overflow: auto;
    background: #ACE1AF;
}
.mainPanel-div{
    border: 1px solid blue;
}
@media (max-width:750px) {
    #Mainpanel-container{
        width: 100%;
    }
}