#Mainpanel-container{
    width: 95%;
    /* border: 1px solid red; */
    overflow: auto;
    background: #001224;
    padding: 2%;
    display: flex;
    gap: 1rem;
}
.mainPanel-div{
    /* border: 1px solid blue; */
}
.leftsideOfPanel{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 70%;
    /* overflow: auto; */
}
.cardsFlex{
    display: flex;
    /* border: 1px solid red; */
    gap: 1rem;
    width: 100%;
}
@media (max-width:750px) {
    #Mainpanel-container{
        width: 100%;
        padding: 15% 0%;
        flex-direction: column;
    }
    .cardsFlex{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }   
    .leftsideOfPanel{
        width: 100%;
    }
}